@import "tailwindcss";

@font-face {
  font-family: 'CanvaSans';
  src: url('/fonts/CanvaSans-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CanvaSans';
  src: url('/fonts/CanvaSans-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CanvaSans';
  src: url('/fonts/CanvaSans-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --color-boring-blue: #345bd1;
  --color-boring-gray: #d7d8db;
  --font-sans: 'CanvaSans', system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  color: #171717;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
